@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

img {
    width: 590px;
    float: left;
}

#main {
    width: 100%;
}

body {
    margin: 0; 
    position: relative; 
}

#title {
    text-align: center;
    font-family: Fugaz One;
    font-size: 30px;
}

#titletwo {
    text-align: center;
    font-size: 15px
}

#description {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Roboto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block; 
    color: #1a3785;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #dd5b39;
  }
  
  .active {
    background-color: #04AA6D;
  }

#bottombar {
    position: fixed;
    bottom: 0;
    height: 16px;
    width: 100%;
    background-color: orange; 

}
